<footer>
    <div class="bg">
        <div class="w64">
            <a href="#"><img src="{{ asset('img/img-content/footer/liban.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/www.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/bistro.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/ofpra.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/calam.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/kitabna.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/codssy.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/arrondi.png') }}"></a>
            <a href="#"><img src="{{ asset('img/img-content/footer/rotary.png') }}"></a>
        </div>
    </div>


    <div class="flex">
        <div class="aleppo">
            <h5>Aleppo</h5>
            <ul>
                <li><a href="#">Welcome To Desiclassifieds Free</a></li>
                <li><a href="#">Classifieds Free Ads Free</a></li>
                <li><a href="#">Advertisement</a></li>
            </ul>
        </div>
        <div class="help">
            <h5>Help organization</h5>
            <ul>
                <li><a href="#">Long shadow</a></li>
                <li><a href="#">Paradigm Earned</a></li>
                <li><a href="#">Media Ipsum</a></li>
                <li><a href="#">Starter Doller</a></li>
            </ul>
        </div>
        <div class="process">
            <h5>Process</h5>
            <ul>
                <li><a href="#">Long shadow</a></li>
                <li><a href="#">Paradigm Earned</a></li>
                <li><a href="#">Media Ipsum</a></li>
                <li><a href="#">Starter Doller</a></li>
            </ul>
        </div>
        <div class="quick">
            <h5>Quick Help</h5>
            <ul>
                <li><a href="#">Long Shadow</a></li>
                <li><a href="#">Paradigm Earned</a></li>
                <li class="inline"><a href="#"><img src="{{ asset('img/img-content/footer/facebook.png') }}"></a></li>
                <li class="inline"><a href="#"><img src="{{ asset('img/img-content/footer/twitter.png') }}"></a></li>
                <li class="inline"><a href="#"><img src="{{ asset('img/img-content/footer/youtube.png') }}"></a></li>
                <li class="inline"><a href="#"><img src="{{ asset('img/img-content/footer/insta.png') }}"></a></li>
            </ul>
        </div>
    </div>
    <p>All Right reserved by Yalla-enfant 2017 ©</p>
</footer>
