<footer>
    <div class="bg">
        <div class="w64">
            {% for partner in data %}
                <a href="{{ partner.url }}">
                    <img src="{{ asset("/uploads/images/partners/#{partner.image}") }}" alt="{{ partner.alt }}">
                </a>
            {% endfor %}
        </div>
    </div>


    <div class="flex">
        <div class="aleppo">
            <h5><a href="#">A propos</a></h5>
        </div>
        <div class="help">
            <h5><a href="#">Contact</a></h5>
        </div>
        <div class="process">
            <h5><a href="#">Mentions Légales</a></h5>
        </div>
        <div class="quick">
            <h5><a href="#">Nous suivre</a></h5>
            <ul>
                <li class="inline"><a href="https://www.facebook.com/yalla.enfants.syriens/"><img src="{{ asset('img/img-content/footer/facebook.png') }}"></a></li>
                <li class="inline"><a href="#"><img src="{{ asset('img/img-content/footer/twitter.png') }}"></a></li>
                <li class="inline"><a href="#"><img src="{{ asset('img/img-content/footer/insta.png') }}"></a></li>
            </ul>
        </div>
    </div>
    <p>All Right reserved by Yalla-enfants 2017 ©</p>
</footer>
