<div class="main">

    <header>
        <div class="burger-icon">
            <div class="burger-stroke"></div>
            <div class="burger-stroke"></div>
            <div class="burger-stroke"></div>
        </div>

        <nav class="sidenav">
            <ul class="inlinks">
                <li><a href="{{ path('about') }}">{{ "menu.about"|trans() }}</a></li>
                <li><a href="{{ path('mission') }}">{{ "menu.mission"|trans() }}</a></li>
                <li><a href="{{ path('project') }}">{{ "menu.project"|trans() }}</a></li>
                <li><a href="{{ path('blog') }}">{{ "menu.blog"|trans() }}</a></li>
                <li><a href="{{ path('contact') }}">{{ "menu.contact"|trans() }}</a></li>
            </ul>

            <div class="outlinks">
                <ul class="social-networks">
                    <li><a href="" target="_blank"><i class="facebook"></i></a></li>
                    <li><a href="" target="_blank"><i class="twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="youtube"></i></a></li>
                    <li><a href="" target="_blank"><i class="instagram"></i></a></li>
                </ul>
                <span>Suivez-nous</span>
            </div>
        </nav>
    </header>
