<div class="main">

    <header>
        <div class="burger-icon">
            <div class="burger-stroke"></div>
            <div class="burger-stroke"></div>
            <div class="burger-stroke"></div>
        </div>

        <nav class="sidenav">
            <ul class="inlinks">
                <li><a href="{{ path('about') }}">Nous connaître</a></li>
                <li><a href="{{ path('mission') }}">Notre mission</a></li>
                <li><a href="{{ path('project') }}">Nos projets</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>

            <div class="outlinks">
                <ul class="social-networks">
                    <li><a href="" target="_blank"><i class="facebook"></i></a></li>
                    <li><a href="" target="_blank"><i class="twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="youtube"></i></a></li>
                    <li><a href="" target="_blank"><i class="instagram"></i></a></li>
                </ul>
                <span>Suivez-nous</span>
            </div>
        </nav>
    </header>
