<!DOCTYPE html>
<html lang="fr">
    <head>
        {{ sonata_seo_metadatas() }}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}">
        {% endblock %}
        {% block fonts %}
            <link href="https://fonts.googleapis.com/css?family=Cardo:400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
        {% endblock %}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_title() }}
    </head>

    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ render(controller('AppBundle:Footer:footer')) }}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/app.min.js') }}"></script>
        {% endblock %}
    </body>

</html>
