{% extends "base.html.twig" %}

{% block body %}
  <section class="welcome">
    <div class="bckd"></div>
    <h2>Faites l'école, pas la guerre !</h2>

    <article class="about">
      <div class="photos">
          <div class="photo-content rellax">
            <div class="photo"></div>
          </div>
          <div class="photo-content">
            <div class="photo"></div>
          </div>
      </div>

      <div class="text">
        <h3>L'aide humanitaire de proximité</h3>
        <p>
          <span class="drop-cap">D</span>évelopper la solidarité internationale en créant un pont entre les sociétés civiles en mesure d’aider et celles qui en ont besoin. Grâce à une structure rationalisée, au plus près des donateurs et des bénéficiaires, Yalla ! permet aux membres de la société civile solidaire de visualiser l’impact de leurs dons.
        </p>
        <div class="do-more">
          <i class="watch"></i>
          <span>Regarder</span>
        </div>
      </div>
    </article>
  </section>

  <section class="cause">
    <article class="cause">
      <div class="photos">
        <div class="photo"></div>
      </div>

      <div class="text">
        <h4>La cause</h4>
        <p>
          <span class="drop-cap">Y</span>alla! Pour les Enfants a été créée en juillet 2013 par des citoyens français connaisseurs de la Syrie et du Moyen-Orient, et soucieux du respect des droits l’Homme.
        </p>
        <a href="">En savoir plus ></a>
      </div>
    </article>
  </section>

  <section class="actions">
    <article class="actions">
      <div class="text">
        <h4>Nos actions</h4>
        <h3>Une aide humanitaire concrète</h3>
        <p>
          <span><span class="drop-cap">C</span>réation de centres d’éducation informelle</span> de qualité à destination d’enfants syriens réfugiés<br>
          <br>
          <span>Plaidoyer auprès des autorités</span> libanaises locales et gouvernementales pour l’intégration des
          enfants syriens au sein du système   scolaire libanais,  après remise à niveau par Yalla !<br>
          <br>
          <span>Organisation d’activités sportives et artistiques</span> à destination d’enfants libanais et syriens
          dans le cadre du dialogue intercommunautaire porté par Yalla!<br>
        </p>
        <div class="do-more">
          <span>Ecouter</span>
          <i class="listen"></i>
        </div>
      </div>

      <div class="photos">
        <div class="photo-content">
          <div class="photo"></div>
        </div>
      </div>
    </article>
  </section>

  <section class="donate">
    <div class="text">
      <h3>Faites un don à Yalla!</h3>
      <p>
        C’est simple et rapide, tout nous est reversé (pas de commission), et les dons sont déductibles d’impôts !
      </p>
      <a href="" target="_blank">Faire un don</a>
    </div>
  </section>

  <section class="last-news">
    <article class="news">
      <div class="photos">
        <img src="{{ asset("/uploads/images/articles/#{news.image}") }}" class="photo">
      </div>

      <div class="text">
        <span class="date">{{ news.createdAt|localizeddate('full', 'none', app.request.locale) }}</span>
        <h3>{{ news.title }}</h3>
        <p>
          {{ news.synopsis|raw }}
        </p>
        <a href="">En savoir plus ></a>
      </div>
    </article>
  </section>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/rellax.min.js') }}"></script>
  <script>
    var rellax = new Rellax('.rellax');
  </script>
{% endblock %}
